In [15]:
import pandas as pd
import hashlib, uuid
df = pd.read_csv ("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\users.csv")
print(df.head())
p=df['user_id']+1
df['login'] = df['login']+ p.astype(str)
m=str.encode(df['login'].astype(str)+ df['user_id'].astype(str)+ df['seed'].astype(str))
df['password'] = hashlib.sha512(m).hexdigest()
print(df.head())

   user_id  login                                           password  seed  \
0        0  Tiff1  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...    15
1        1  Todd2  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...     5
2        2  Anne3  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...    13
3        3  Dani4  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...    11
4        4  Tyle5  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...    19

     type
0  client
1  client
2  client
3  client
4  client

TypeError: descriptor 'encode' for 'str' objects doesn't apply to a 'Series' object

In [ ]:
CREATE TABLE beers (
  product_id     int NOT NULL PRIMARY KEY,
  brewery        varchar(50),
  name           varchar(50),
  type           varchar(50),
  abv            float UNSIGNED,
  capacity       int UNSIGNED,
  container_type ENUM ('bottle', 'can', 'returnable'),
  FOREIGN KEY (product_id) REFERENCES products (product_id) ON DELETE CASCADE,
  CONSTRAINT abv_constr CHECK (avb <= 100)
);

In [7]:
def swap_columns(df, col1, col2):
    col_list = list(df.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    df = df[col_list]
    return df

#swap points and rebounds columns
df = swap_columns(df, 'brand', 'categories')
print

In [12]:
print(df)
df.to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\users.csv",index=False)

     user_id    login                                           password  \
0          0    Tiff1  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...
1          1    Todd2  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...
2          2    Anne3  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...
3          3    Dani4  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...
4          4    Tyle5  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...
..       ...      ...                                                ...
135      135  Mary136  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...
136      136  Troy137  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...
137      137  Anth138  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...
138      138  Chri139  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...
139      139  Ange140  cabf6c4ba3059c8e499c307e2b384dfb22270c38408e3f...

     seed    type
0      15  client
1       5  client
2      13  client
3      11  client
4      19  client
..    ...     ...
135     8  worker
136     6  worker
137     4  worker
138    12  worker
139    16  worker

[140 rows x 5 columns]

In [2]:
df['name'] = df['name'].str.slice(0,50)
df['address'] = df['address'].str.slice(0,50)

In [15]:
df

,product_id,name,brand,type,abv,capacity,categories,country
0,101,La Marca Prosecco,La Marca,Sparkling,11.1,69,"Sparkling Wine, Prosecco",Italy
1,102,Josh Cellars Cabernet Sauvignon,Josh Cellars,Red,13.6,100,"Red Wine, Cabernet Sauvignon",United States
2,103,Kim Crawford Sauvignon Blanc,Kim Crawford Wines,White,17.7,95,"White Wine, Sauvignon Blanc",New Zealand
3,104,Meiomi Pinot Noir,Meiomi Wines,Red,13.9,93,"Red Wine, Pinot Noir",United States
4,105,Bota Box Cabernet Sauvignon,Bota Box Wines,Red,11.1,88,"Red Wine, Cabernet Sauvignon",United States
...,...,...,...,...,...,...,...,...
95,196,Decoy Sonoma County Chardonnay,Decoy Wines,White,19.4,95,"White Wine, Chardonnay",United States
96,197,Substance ‘Cs’ Columbia Valley Cabernet Sauvignon,Substance,Red,12.1,36,"Red Wine, Cabernet Sauvignon",United States
97,198,Francis Coppola Diamond Collection Merlot,Francis Ford Coppola,Red,10.7,69,"Red Wine, Merlot",United States
98,199,Terrazas de los Andes Reserva Malbec,Terrazas de los Andes,Red,18.0,32,"Red Wine, Malbec",Argentina
99,200,Gruet Brut,Gruet,Sparkling,11.7,58,"Sparkling Wine, American Sparkling Wine",United States